.chat {
    font-family: "Jost", sans-serif;
    background-color: black;
}

.chat-title {
    color: white;
    margin-left: 20px;
    padding: 5px;
}

.chat-box {
    margin-left: 20px;
    margin-right: 20px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.chat-box-output {
    background-color: #2f2f2f;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    justify-content: baseline;
    overflow: scroll;
    overflow-y: auto;
    color: white;
}

.chat-box-input {
    height: 50px;
    background-color: #2f2f2f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.chat-box-input-form {
    background-color: lightgray;
    border-radius: 5px;
    width: 98%;
    height: 30px;
    color: black;
    padding: 10px;
    border: none;
    /* justify-content: center; */
}

.chat-box-input-form:focus {
    border: none; /* Ensure no border on focus */
    box-shadow: none; /* Ensure no shadow on focus */
    outline: none; /* Ensure no outline on focus */
}
