.navbar {
    font-family: "Jost", sans-serif;
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    /* position: absolute; */
}

.title {
    flex-grow: 1;
    /* width: 200px; */
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
}

.functionality {
    flex-grow: 1;
    /* width: 700px; */
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
}

.new-game,
.race-start {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: purple;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.new-game:hover,
.race-start:hover {
    background-color: blueviolet;
}

.balance,
.balance-amount,
.choose-racer,
.betting,
.betting-amount {
    /* border: 1px solid white; */
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    margin-right: 10px;
    height: 25px;
}

.betting-amount:focus {
    border: 1px solid white;
    box-shadow: none;
    outline: none;
}

.betting-amount {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.balance-amount {
    border: 1px solid white;
    border-radius: 5px;
}
