.navbar {
    font-family: "Jost", sans-serif;
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.functionality {
    flex-grow: 1;
    /* width: 700px; */
    display: flex;
    color: white;
    justify-content: end;
    align-items: center;
}

.race-start {
    width: 100px;
    padding: 5px;
    color: white;
    background-color: purple;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.race-start:hover {
    background-color: blueviolet;
}

.balance,
.balance-amount,
.betting,
.betting-amount {
    border: 1px solid white;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    margin-right: 10px;
}

.betting-amount {
    color: black;
    height: 25px;
}

.betting-amount:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
