/* RaceComponent.css */
.race-track {
    position: relative;
    width: 100%;
<<<<<<< HEAD:front-end/src/styles/race-component.css
    height: 200px;
    /* top: 60px; */
    background-color: black;
    color: white;
    font-family: "Jost", sans-serif;
    margin-top: 20px;
=======
    height: 400px;
    background-color: black;
    color: white;
    font-family: "Jost", sans-serif;
>>>>>>> attempt-to-merge-back-and-front:frontend/src/styles/race-component.css
}

.animal-track {
    position: relative;
    height: 25%;
    width: 100%;
    margin-left: 20px;
}

.animal {
<<<<<<< HEAD:front-end/src/styles/race-component.css
    position: relative;
=======
    position: absolute;
>>>>>>> attempt-to-merge-back-and-front:frontend/src/styles/race-component.css
    transition: left 0.1s linear;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
}
